/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*asterisk wildcart selector to override defult style added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    background-color: lightblue;
}



/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #6a6a6a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: oswalf, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#menu {
    font-size: 120%;
    font-style: none;
    letter-spacing: 4px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #252525;
}

/*navbar styles and dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #6a6a6a;
    display: none;
    top: 100%;

}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*main content*/
main {
    /*make main element totake up any surplus space to oush footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}
#hero {
    height: 600px;
    width: 100%;
    background: url(../images);
}
/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #2a2a2a;
}
/*media query: tablets and larger screen(768px and up)*/
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
        #menu {
            display: flex;
            list-style: none;
        }

        #menu>li {
            padding: 1rem;
        }
        .nav-toggle-label {
            display: none;
        }
        #logo {
            font-size: 280%;
            line-height: 75px;
            margin: 0 0.5rem;
        }
        /*main content*/
        main {
            /*push main content down to commodate larger header*/
            margin-top: 92px;
        }
    
        #hero {
            height: 600px;
            width: 100%;
            background: url(../images/brandi-redd-aJTiW00qqtI-unsplash.jpg);
            }

/*laptps and pcs(992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #2a2a2a;

    }
}
    
}